aiodns
aiohttp
aioredis
asgiref
babel
backoff
beautifulsoup4
bleach
brotli
boto3
botocore
certifi
channels
channels_redis
chardet
cryptography
csscompressor
dj-database-url
django
django-admin-sortable2
django-compressor
django-countries
django-imagekit
django-markdown-deux
django-multiupload
django-phonenumber-field
django-s3-storage
fuzzy-c-means
freezegun
geomag
gunicorn
httptools
inflection
ipython
luhn
markdown2
natsort
numpy
opencv-contrib-python-headless
phonenumberslite
pillow
psutil
psycopg2-binary
python-dateutil
pytz
requests
ruptures
scikit-learn
scipy
sentry-sdk
tracking-url
unittest-xml-reporting
uvicorn
uvloop
websockets
whitenoise